*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    font-family: "mono";
    src: url("Fonts/RobotoMono-Thin.ttf");
}
@font-face {
    font-family: "krub";
    src: url("Fonts/Krub-Regular.ttf");
}
#carouselExampleControls > .carousel-control-prev:hover{
    background: #000;
    opacity: 0.25;

    transition: all 350ms ease-in;
}
#carouselExampleControls > .carousel-control-next:hover{
    background: #000;
    opacity: 0.25;

    transition: all 350ms ease-in;
}
:root{
    font-size: 16px;
}
#wrapper{
    display: grid;
}
#wrapper > #header{
    /*border: 1px solid black;*/

    background: 
    #fff
    url("Assets/vinyl.jpg")
    no-repeat
    scroll
    -1.5% -100px;
    background-size: 100vw 100vh;

    padding-bottom: 0.5rem;

}
#wrapper > #header > #logo > a > img{
    width: 10%;
    height: 20%;

    display: block;
    margin: 0px auto;
}
#wrapper > #header > ul{
    margin: 0px auto;
    /*border: 1px solid black;*/
    width: 25.5%;
}
#wrapper > #header > ul > li {
    display: inline;
    margin: 0px 2%;
}
#wrapper > #header > ul > li > a{
    text-decoration: none;

    color: #ffffff;
    font-family: mono, sans-serif;
    font-size: 1.1rem;
}
#wrapper > #header > ul > li > a:hover{
    background-color: #e60606;
    color: #fff;

}
#wrapper > #header > ul > li:hover{
    border-bottom-width: 5px;
    border-bottom-color: #0088cc;

}
#section > h2{
    color: #292323;


    font-size: 2.2rem;
    font-family: krub, sans-serif;
    
    margin: 10px auto;
    width: 25%;
}
#section > h2 > span:hover{
    background-color: #e60606;
    color: #fff;
}
#section > p{
    color: #292323;

    font-size: 1.1rem;
    font-family: krub, sans-serif;

    margin: 15px auto;

    width: 26%;
}
#section > p a{
    text-decoration: none;
    color: #e60606;
}
#section > p a:hover{
    color: #ffffff;
    background-color: #e60606;
}
#store{
    width: 45%;
    margin: 10px auto;
}
#skatepark{
    margin: 70px auto;
}
#skatepark > h2{
    color: #292323;


    font-size: 2.2rem;
    font-family: krub, sans-serif;
    
    margin: 10px auto;
    width: 26.5%;
}
#skatepark > h2 > b:hover{
    background-color: #e60606;
    color: #fff;
}
#grid-photo-one{
    margin: 50px auto 10px;
    /*border: 1px solid black;*/
    
    display: grid;
    grid-template-columns: 300px 500px;
    grid-column-gap: 50px;
    width: 850px;
}
#grid-photo-one > p{
    font-family: krub, sans-serif;
    font-size: 1.15rem;
    /*border: 1px solid black;*/

    width: 300px;
}
#grid-photo-one > img{
    width: 500px;
    height: 325px;

    filter: brightness(25%);
}
#grid-photo-one > img:hover{
    filter: brightness(100%);
    transition: all 350ms ease-in;
}
#grid-photo-two{
    margin: 30px auto 10px;
    /*border: 1px solid black;*/
    
    display: grid;
    grid-template-columns: 500px 300px;
    grid-column-gap: 50px;
    width: 850px;
}
#grid-photo-two > p{
    font-family: krub, sans-serif;
    font-size: 1.15rem;
    /*border: 1px solid black;*/

    width: 300px;
}
#grid-photo-two > img{
    width: 500px;
    height: 350px;
    filter: brightness(25%);
}
#grid-photo-two > img:hover{
    filter: brightness(100%);
    transition: all 350ms ease-in;
}
#grid-photo-one > p::selection, #grid-photo-two > p::selection{
    background-color: #e60606;
    color: #fff;
}
#wrapper-clothes{
    display: grid;
    grid-template-columns: repeat(3, 1 fr);

    width: 60%;
    margin: 20px auto;
}
#wrapper-clothes  > img.cloth{
    width: 300px;
    height: 300px;

    display: block;
    margin: 20px auto;
}

p.name {
    text-align: center;
    font-size: 30px;
    padding: 10px 5px;
    font-family: krub, sans-serif;
}

p.desc {
    font-family: krub, sans-serif;
    font-size: 13px;
}

.clicker {
    border: none;
    padding: 10px;
    margin: 10px;
    background-color: #e60606;
    color: #ffffff;
    border-radius: 5px;
    font-family: krub, sans-serif;
}

.clicker:hover {
    background-color: #fff;
    color:#0f0f0f;
    border: 1px solid #e60606;
    cursor: pointer;
    transition: all 350ms ease-in;
    font-weight: bold;
}